* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #19181A;
  color: #fff;
}

.complete .small-card {
  margin: 0 auto;
  background-color: #479761;;
}

.in-progress .small-card {
  margin: 0 auto;
  background-color: #CEBC81;
}

.to-do .small-card {
  margin: 0 auto;
  background-color: #A16E83;
}

.container-login {
  width: 35%;
  margin: 150px auto;
}

.register {
  margin-top: 30px;
  text-align: center;
}

.checkbox {
  margin-top: 30px;
  text-align: center; 
}

a {
  text-decoration: none;
  padding: 5px 20px;
} 

.icons {
  display: flex;
  justify-content: center;
}

.container {
  text-align: center;
  margin: 20px auto;
  padding: 0 20px;
  width: 80%;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 20px;
}

.table div {
  width: 95%;
  margin: 15px auto;
}

.table h4 {
  text-align: center;
  display: block;
}

h5 {
  text-align: center;
  color: #fff;
}

.to-do {
  grid-column: 1/2
}

.in-progress {
  grid-column: 2/3
}

.complete {
  grid-column: 3/4
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 20px 50px;
  margin: 10px 0;
  position: relative;
}

.card.reverse {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.card h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.to-do{
  margin: 0
}

.small-card {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 5px 50px;
  margin: 0;
  position: relative;
  height: 120px;
}

.text-display {
  font-weight: bold;
  margin: 0;
}

.input-group {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 8px;
}

input {
  flex-grow: 2;
  border: none;
  font-size: 16px;
}

input:focus {
  outline: none;
}

.task-counter {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 180px;
} 

.close,
.edit {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.edit {
  right: 40px;
}

.btn {
  color: #fff;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.btn-primary {
  border: 0;
  border-radius: 10px;
  color: black;
  width: 100px;
  height: 40px;
  cursor: pointer;
  background-color:rgba(0, 255, 255, 0.395);
}

.navbar {
  background-color: #B19F9E;
  width: 100%;
  padding-top: 0;
  height: 40px;
}

